* {
    box-sizing: border-box;
}

body {}

.heading {
    font-size: 66px;
    text-align: center;
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom:-10;
}

.heading span {
    color: deeppink;
}

.items-inner {
    width: 1350px;
    margin: auto;
    /* border: 1px solid #000; */

}

.items {
    /* text-align: center; */
    display: flex;
    gap: 20px;
    counter-reset: items;
    /* justify-content: space-between; */
}
.item::before{
    content: counter(items);
    counter-increment: items;
}
.item:hover:before{
    background-color: crimson;
}
.item {
    flex: 1;
    height: 310px;
    margin-right: 10px;
}
.item::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: gray;
    z-index: 10;
    border-radius:  0 0 5px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 45px;
}
.photo {
    position: relative;
    height: 310px;
}

.photo a {}

.photo a img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: 0.5s;
}

.photo a img:first-child {
    z-index: 1;
}

.photo:hover a img:first-child {
    opacity: 0;
}

.detail {
    position: relative;
}

.detail span {
    display: block;
}

.detail .price b {
    color: crimson;
    margin-right: 10px;
}

.detail .name {
    font-weight: 400;
}

.detail .count {
    color: rgb(119, 153, 255);
}

.detail .like {
    /* border: 1px solid red; */
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    object-fit: cover;
    transition: 0.5s;
}
.detail .like i:before{
    font-size: 18px;
    content: "\f004";
    color: #999;
}
.detail .like i:active:before{
       content: "\f004";
       color: crimson;
}

